OPENAI_API_KEY=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
OPENAI_MODEL=gpt-3.5-turbo
